/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Gilroy";
  font-size: 1.7rem;
  line-height: 1.18;
}
main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  --link-color: rgba(25, 28, 47, 0.6);
  --tittle-color: #fff;
  --tittle-black-color: #191c2f;
  --color-popins: #dfbb7f;
  --hover-popins: #dfbb7f;
}
.container {
  width: 100%;
  max-width: 1340px;
  padding: 0 10px;
  margin-right: auto;
  margin-left: auto;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
}
.logo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-nav__item:not(:last-child) {
  margin-right: 4rem;
}
.site-nav__link {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
  color: var(--link-color);
}
.site-nav__tel-link {
  margin-right: 3.5rem;
  margin-left: 6rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.21;
  color: var(--link-color);
}
.language {
  border: 0.8px solid rgba(25, 28, 47, 0.4);
  border-radius: 8px;
  padding: 8px 15px;
}
.button {
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: inherit;
  gap: 6px;
}
.hero {
  padding-top: 53px;
  padding-bottom: 120px;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #37474f;
  border-radius: 10px;
  background-image: url(../images/circles.svg);
  background-repeat: no-repeat;
  background-size: 1107px, 846px;
  background-position-x: 280px;
  background-position-y: -140px;
  position: relative;
  height: 500px;
}
.hero__title-block {
  padding: 7rem 0;
  padding-left: 4rem;
}
.hero__title {
  padding-right: 71.1rem;
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.23;
  color: var(--tittle-color);
  margin-bottom: 15px;
}
.hero__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.18;
  margin-bottom: 42px;
  color: var(--tittle-color);
  opacity: 0.7;
}
.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.btn__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 18px;
  border: 1px solid #fff;
  border-radius: 8px;
  gap: 20px;
}
.hero__img-block {
  position: absolute;
}
.img-block__img {
  top: -10px;
  left: 521px;
  width: 795px;
  height: 529px;
  position: absolute;
}
.span {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
  color: #fff;
}
.cards__item img {
  width: 83px;
  height: 80px;
}
.amount__container {
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.number {
  text-align: center;
}
.number__title {
  font-style: normal;
  font-weight: 700;
  font-size: 7.8rem;
  line-height: 1.3;
  color: var(--tittle-black-color);
}
.number__subtitle {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
}
.service {
  padding: 120px 0;
}
.subtitle-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
}
.sevice__subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.12;
  color: #37474f;
}
.line {
  width: 35px;
  height: 2px;
  background-color: #37474f;
}
.service__title {
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 62px;
  color: var(--tittle-black-color);
  margin-bottom: 40px;
}
.service__cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 20px;
}
.cards__item {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: rgba(35, 4, 157, 0.03);
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 26px;
}
.cards__img {
  margin-bottom: 1.5rem;
}
.cards__title {
  font-weight: 300;
  font-style: italic;
  font-size: 3.2rem;
  line-height: 38px;
  color: var(--tittle-black-color);
  margin-bottom: 0.5rem;
}
.cards__desc {
  color: var(--tittle-black-color);
  font-size: 1.7rem;
  line-height: 2rem;
  text-align: center;
}
.portfolio__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.portfolio__btn {
  gap: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btn-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 27px;
  border: 1px solid #191c2f;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.2;
  color: var(--tittle-black-color);
}
.portfolio__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  height: 518px;
  gap: 20px;
}
.portfolio__card div {
  width: 100%;
  height: auto;
  background: #d9d9d9;
  border-radius: 10px;
}
.card_is {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/3/2;
}
.portfolio__link {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cards__img {
  width: 100%;
  height: auto;
}
.portfolio_link {
  background-color: #dfbb7f;
}
.portner {
  padding-top: 120px;
  padding-bottom: 90px;
}
.portner__card {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(246px, 1fr));
  gap: 22px;
}
.portner__card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 246px;
  height: 150px;
  -webkit-box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.03),
    4px 4px 10px rgba(0, 0, 0, 0.03);
  box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.03),
    4px 4px 10px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}
.team__block {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;
  padding: 0 75px;
}
.team__card {
  background: #f3f3f3;
  position: relative;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
}
.team__card :after {
  content: "";
  width: 252px;
  height: 233px;
  background: #f8f7fc;
  position: absolute;
  top: 18px;
  left: 11px;
  z-index: 1;
}
.team-card__img {
  z-index: 2;
  position: relative;
  top: -30px;
  margin-bottom: 10px;
}
.team__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-popins);
}
.team__subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.25;
  text-align: center;
  color: #202020;
}
.our-team_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 72px;
  color: #000;
  margin-bottom: 54px;
}
.contact {
  padding-top: 146px;
  padding-bottom: 40px;
  background-image: url(../images/design.svg), url(../images/design.svg),
    url(../images/design.svg), url(../images/design.svg),
    url(../images/design.svg);
  background-repeat: no-repeat;
  background-size: 150px, 112px, 80px, 48px, 150px;
  background-position: -80px 96px, 75px 631px, 806px 106px, 1131px 670px,
    1256px 371px;
}
.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contact__subtitle {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.25;
  margin-bottom: 2rem;
  text-align: center;
  color: #263238;
}
.contact__title {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 43px;
  text-align: center;
  margin-bottom: 3.8rem;
  color: #263238;
}
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contact__form {
  padding: 50px 80px;
}
.contact__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  margin-bottom: 30px;
}
.input__name {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 22px;
  color: #3a3a3a;
}
button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: 0 0;
  height: 100%;
}
input {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: 0 0;
  height: 100%;
}
.input__name span {
  color: #feab38;
}
.input {
  width: 370px;
  height: 50px;
  background: #f8f8f8;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: inset -1px -1px 4px rgba(0, 0, 0, 0.05),
    inset 4px 4px 4px rgba(0, 0, 0, 0.08);
  box-shadow: inset -1px -1px 4px rgba(0, 0, 0, 0.05),
    inset 4px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 0 20px;
}
.for__input {
  padding-left: 14px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.number-btn {
  margin-right: 13px;
}
textarea {
  width: 80rem;
  height: 13rem;
  background: #f8f8f8;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: inset -1px -1px 4px rgba(0, 0, 0, 0.05),
    inset 4px 4px 4px rgba(0, 0, 0, 0.08);
  box-shadow: inset -1px -1px 4px rgba(0, 0, 0, 0.05),
    inset 4px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin-bottom: 30px;
}
.contact__form p {
  margin-bottom: 3px;
}
.contact__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 10px 62px;
  background: #dfbb7f;
  border-radius: 10px;
  color: #fff;
}
footer {
  background: #37474f;
  padding-top: 80px;
}
.massager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 50px;
}
.phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.massager__number {
  font-size: 2rem;
  line-height: 1.15;
  color: #a3a3a3;
}
.four-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.four-group__desc {
  font-size: 1.8rem;
  line-height: 21px;
  color: #b8b8b8;
}
.four-froup__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 10px;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-btn {
  color: #fff;
  padding: 6px 11px;
  background: #575757;
  border-radius: 10px;
}
.scrol {
  position: fixed;
  padding: 14px 15px;
  border: 1px solid #feab38;
  height: 53px;
  width: 53px;
  border-radius: 50%;
  right: 63px;
  bottom: 145px;
  z-index: 10;
}
.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: -o-linear-gradient(top, #fff, #000);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#000)
  );
  background: linear-gradient(to bottom, #fff, #000);
}
li a:hover {
  color: var(--tittle-black-color);
}
.hover_block:hover {
  background-color: var(--hover-popins);
}
.hover-bg:hover {
  background-color: #191c2f;
}
.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: -o-linear-gradient(top, #fff, #000);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#000)
  );
  background: linear-gradient(to bottom, #fff, #000);
}
.cards__item:hover {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #feab38;
  /* border-radius: 10px; */
}
.portfolio__card div:hover {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border: 1px solid #feab38;
}
.portner__card div:hover {
  border: 1px solid #feab38;
}
.team__card:hover {
  border: 1px solid #feab38;
}
textarea {
  padding: 20px;
}
.portfolio__card div {
  border: 1px solid transparent;
}
.portner__card div {
  border: 1px solid transparent;
}
.team__card {
  border: 1px solid transparent;
}
.cards__item {
  /* box-sizing: border-box; */
  border: 1px solid transparent;
  /* border-radius: 10px; */
}
